<div *ngIf="books$ | async; else loadingTemplate" class="app-body">
    <ng-container [ngTemplateOutlet]="booksTemplate"></ng-container>
</div>

<ng-template #booksTemplate>
    <div class="app-body__search-bar">
        <mat-form-field>
            <input (input)="searchBooks($event)" matInput placeholder="Search by Book Title">
        </mat-form-field>
    </div>
    <ng-container *ngIf="!searchValue; else searchResults">
        <p>Most popular books</p>
        <div class="app-body__book-gallery">
            <ng-container *ngFor="let book of books$ | async">
                <book-preview (onBookClick)="redirectToBookPage($event)" [book]="book" [isSimpleMode]="true"></book-preview>
            </ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #loadingTemplate>
    <div class="app-body _loading">
        <loader></loader>
    </div>
</ng-template>

<ng-template #searchResults>
    <p>Found books</p>
    <div class="app-body__book-gallery">
        <ng-container *ngFor="let book of foundBooks$ | async">
            <book-preview (onBookClick)="redirectToBookPage($event)" [book]="book" [isSimpleMode]="false"></book-preview>
        </ng-container>
    </div>
</ng-template>
